<div class="jumbotron">
    <h1 class="display-4 text-center">
        GScript
    </h1>

    <p class="text-center lead">
        Olvídate de abrir individualmente las aplicaciones que uses,<br />
        Configura el apagado de tu equipo,<br />
        Olvídate del SO,<br />
        Nosotros nos encargamos.<br />
    </p>

    <div class="text-center mt-2">
        <a asp-controller="Home"
           asp-action="Options"
           class="btn btn-primary rounded-pill">
            Empezar
        </a>
    </div>
</div>

