@{
    ViewData["Title"] = "Sign Up";
}

<div class="container mt-4">
    <div class="alert alert-danger text-center">
        <h1 class="display-4 mb-4">Acceso denegado</h1>
        <p>No tiene autorización para acceder a esta página.</p>
        <a asp-controller="Home"
           asp-action="Index" class="nav-link">
            Volver a Inicio
        </a>
    </div>
</div>